@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 10px;
}
.Login {
    font-family: "Raleway";
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.Login h2 {
    font-size: 2.5rem;
}
.Login p {
    font-size: 2rem;
}
.Login input {
    font-family: "Raleway";
    width: 110%;
    outline: none;
    font-size: 15px;
    padding: 15px;
    background: none;
    color: black;
    letter-spacing: 1px;
    margin: 10px;
    border-radius: 5px;
}
.toggle-link {
    display: none;
}

.one input {
    color: #fff;
    border: 2px solid #fff;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.Login button {
    font-family: "Raleway";
    border: 2px solid #3f3d56;
    outline: none;
    width: 110%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}
.two button {
    color: #171717;
}
.one button {
    color: #fff;
    border: 2px solid #fff;
}
.one,
.two {
    width: 50%;
}
.one img,
.two img {
    width: 350px;
}
.one,
.one form,
.two,
.two form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.one {
    background-color: #3f3d56;
    color: #fff;
}
.two {
    color: black;
    background-color: #fff;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
        ellipse at left bottom,
        rgba(22, 24, 47, 1) 0%,
        rgba(38, 20, 72, 0.9) 59%,
        rgba(17, 27, 75, 0.9) 100%
    );
}
.hero {
    position: relative;
}
.hero button {
    padding: 7px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    background: #3d6cb9;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    color: aliceblue;
}
.hero nav {
    position: fixed;
    top: 0;
    background: #603bbb;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mapboxgl-popup-close-button {
    position: absolute;
    right: -41px;
    top: -41px;
}
.hero .navitems {
    display: flex;
    justify-content: space-evenly;
}

.hero nav h2 {
    color: #fff;
}
.newpass-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00d1ff;
    width: fit-content;
    min-height: 300px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.newpass-div h2 {
    color: #171717;
}
.newpass-div input {
    width: 100%;
    border: none;
    outline: none;
    padding: 7px 15px;
    background: #e1f4f3;
    color: black;
    letter-spacing: 1px;
    border-radius: 5px;
}
.customMap{
    position: absolute;
    top: 25%;
    right: 25%;
    left: 25%;
    bottom: 25%;
}
.map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding:12px;
    font: 15px/24px monospace;
    z-index: 1;
    position: absolute;
    top: -20%;
    right: 5%;
    left: 5%;
    margin: 12px;
    border: 2px solid snow;
    border-radius: 4px;
}
.side-info p{
    width: 100%;
    padding: 10px 1px;
    background: rgba(26, 26, 27, 0.534);
    position: absolute;
    bottom: -20%;
    left: 0;
    font: 18px monospace;
    color: snow;
    text-align: center;
}
/* SEARCH  MAP */
.SearchInput{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.SearchMap input{
    border: 2px solid whitesmoke;
    width: 400px;
    padding: 10px;
    background: none;
    color: whitesmoke;
    outline: none;
}
.SearchMap input::placeholder{
    color: rgba(245, 245, 245, 0.575);
}
.map-search{
    width: 600px;
    height: 500px;
    position: absolute;
    top: 15%;
    left: 30%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
    :root {
        font-size: 7px;
    }
    .Login {
        flex-direction: column;
    }
    .dispOff {
        display: none;
    }
    .one,
    .two {
        width: 100%;
        height: 100vh;
    }
    .one img,
    .two img {
        width: 250px;
    }
    .Login input {
        width: 100%;
        padding: 10px;
    }
    .Login button {
        width: 100%;
    }
    .toggle-link {
        display: block;
    }
    .two .toggle-link a {
        font-size: 2rem;
        color: #171717;
    }
    .one .toggle-link a {
        font-size: 2rem;
        color: #fff;
    }
}
